body{
    font-family: Arial, Helvetica, sans-serif;
}
#cientificos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cientifico img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.cientifico p{
    font-size: larger;
}
.cientifico{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: rgb(235, 231, 213);
}